In [1807]:
import pandas as pd

In [1808]:
df_raw = pd.read_excel(r'raw_data/homicide_country_download.xlsx')

### Only selects rows containing Female

In [1809]:
df =df_raw[df_raw['Gender'] == 'Female']

### Selects rows that contain count rather than rate, for use later on if we decide to calculate rates for countries that don't have data avaliable

In [1810]:
df_count = df[df['Unit']== 'Count']
df_count.to_csv('df_femicide_count.csv', index=False)

### Selects only rows that are rates

In [1811]:
df = df[df['Unit']!= 'Count']

### Subsets for total rates and disregards intimate partner violence

In [1812]:
df = df[df['Disaggregation']=='-']

### Drops uneeded columns

In [1813]:
df = df.drop(columns=['Indicator', 'Disaggregation', 'Source', 'Unit', 'Gender', 'Footnote'])

### Makes all headers lowercase

In [1814]:
df.columns = [col.lower() for col in df.columns]

In [1815]:
df = df.rename(columns = {'value' : 'femicide_per_100k', 'iso3_code':'iso3'})

### Converts column to numeric data type

In [1816]:
df["femicide_per_100k"] = pd.to_numeric(df["femicide_per_100k"], errors='coerce')

### Drops NA values

In [1817]:
df = df.dropna(subset='femicide_per_100k')

### Sets data types

In [1818]:
df= df.astype({'region' : 'category', 'subregion' : 'category', 'year' : 'int64', 'femicide_per_100k' : 'float64', 'iso3' :'string' })

In [1819]:
df

,region,subregion,country,iso3,year,femicide_per_100k
9,Asia,Southern Asia,Afghanistan,AFG,2015,0.56
15,Asia,Southern Asia,Afghanistan,AFG,2016,0.59
21,Asia,Southern Asia,Afghanistan,AFG,2017,0.75
27,Asia,Southern Asia,Afghanistan,AFG,2018,0.85
33,Europe,Southern Europe,Albania,ALB,1992,0.87
...,...,...,...,...,...,...
24273,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),VEN,2012,6.39
24279,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),VEN,2015,4.83
24285,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),VEN,2016,5.36
24291,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),VEN,2017,5.31
24373,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,1990,3.49

In [1820]:
df_prev_study = pd.read_excel('whovio country list.xlsx')
df_prev_study = df_prev_study.astype({'iso3':'string'})
df_prev_study

    iso3             country
0    AFG         Afghanistan
1    ALB             Albania
2    DZA             Algeria
3    ARM             Armenia
4    AUS           Australia
..   ...                 ...
128  VNM             Vietnam
129  PSE  West Bank and Gaza
130  YEM         Yemen, Rep.
131  ZMB              Zambia
132  ZWE            Zimbabwe

[133 rows x 2 columns]

In [1821]:
df['in_prev_study']=df['iso3'].isin(df_prev_study['iso3'].unique())

In [1822]:
df

,region,subregion,country,iso3,year,femicide_per_100k,in_prev_study
9,Asia,Southern Asia,Afghanistan,AFG,2015,0.56,True
15,Asia,Southern Asia,Afghanistan,AFG,2016,0.59,True
21,Asia,Southern Asia,Afghanistan,AFG,2017,0.75,True
27,Asia,Southern Asia,Afghanistan,AFG,2018,0.85,True
33,Europe,Southern Europe,Albania,ALB,1992,0.87,True
...,...,...,...,...,...,...,...
24273,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),VEN,2012,6.39,False
24279,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),VEN,2015,4.83,False
24285,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),VEN,2016,5.36,False
24291,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),VEN,2017,5.31,False
24373,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,1990,3.49,True

In [1823]:
df_gni = pd.read_csv(r'raw_data/GNI.csv')
df_gni

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],2000 [YR2000],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,Afghanistan,AFG,..,..,650,680,650,610,570,540,520,530,500,390
1,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,Albania,ALB,650,1100,4360,4540,4540,4390,4320,4290,4860,5230,5260,6110
2,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,Algeria,DZA,2390,1610,5220,5540,5510,4880,4400,3970,4010,4050,3600,3660
3,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,American Samoa,ASM,..,..,..,..,..,..,..,..,..,..,..,..
4,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,Andorra,AND,..,..,..,..,..,..,..,..,..,46530,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,Virgin Islands (U.S.),VIR,..,..,..,..,..,..,..,..,..,..,..,..
213,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,West Bank and Gaza,PSE,..,1550,3210,3470,3560,3670,3900,3930,4190,4270,3700,4220
214,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,"Yemen, Rep.",YEM,..,400,1180,1340,1360,1110,1070,1000,840,..,..,..
215,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,Zambia,ZMB,450,350,1660,1720,1760,1540,1340,1270,1400,1390,1130,1030
216,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,Zimbabwe,ZWE,740,360,1120,1200,1210,1220,1200,1170,1550,1450,1460,1530

In [1824]:
df_gni.columns = [col.lower() for col in df_gni.columns]
df_gni

,series name,series code,country name,country code,1990 [yr1990],2000 [yr2000],2012 [yr2012],2013 [yr2013],2014 [yr2014],2015 [yr2015],2016 [yr2016],2017 [yr2017],2018 [yr2018],2019 [yr2019],2020 [yr2020],2021 [yr2021]
0,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,Afghanistan,AFG,..,..,650,680,650,610,570,540,520,530,500,390
1,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,Albania,ALB,650,1100,4360,4540,4540,4390,4320,4290,4860,5230,5260,6110
2,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,Algeria,DZA,2390,1610,5220,5540,5510,4880,4400,3970,4010,4050,3600,3660
3,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,American Samoa,ASM,..,..,..,..,..,..,..,..,..,..,..,..
4,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,Andorra,AND,..,..,..,..,..,..,..,..,..,46530,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,Virgin Islands (U.S.),VIR,..,..,..,..,..,..,..,..,..,..,..,..
213,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,West Bank and Gaza,PSE,..,1550,3210,3470,3560,3670,3900,3930,4190,4270,3700,4220
214,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,"Yemen, Rep.",YEM,..,400,1180,1340,1360,1110,1070,1000,840,..,..,..
215,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,Zambia,ZMB,450,350,1660,1720,1760,1540,1340,1270,1400,1390,1130,1030
216,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,Zimbabwe,ZWE,740,360,1120,1200,1210,1220,1200,1170,1550,1450,1460,1530

In [1825]:
df_gni = df_gni.drop(columns=['series name', 'series code'])
df_gni = df_gni.rename(columns = {'country name' : 'name', 'country code':'iso3'})
df_gni

,name,iso3,1990 [yr1990],2000 [yr2000],2012 [yr2012],2013 [yr2013],2014 [yr2014],2015 [yr2015],2016 [yr2016],2017 [yr2017],2018 [yr2018],2019 [yr2019],2020 [yr2020],2021 [yr2021]
0,Afghanistan,AFG,..,..,650,680,650,610,570,540,520,530,500,390
1,Albania,ALB,650,1100,4360,4540,4540,4390,4320,4290,4860,5230,5260,6110
2,Algeria,DZA,2390,1610,5220,5540,5510,4880,4400,3970,4010,4050,3600,3660
3,American Samoa,ASM,..,..,..,..,..,..,..,..,..,..,..,..
4,Andorra,AND,..,..,..,..,..,..,..,..,..,46530,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Virgin Islands (U.S.),VIR,..,..,..,..,..,..,..,..,..,..,..,..
213,West Bank and Gaza,PSE,..,1550,3210,3470,3560,3670,3900,3930,4190,4270,3700,4220
214,"Yemen, Rep.",YEM,..,400,1180,1340,1360,1110,1070,1000,840,..,..,..
215,Zambia,ZMB,450,350,1660,1720,1760,1540,1340,1270,1400,1390,1130,1030
216,Zimbabwe,ZWE,740,360,1120,1200,1210,1220,1200,1170,1550,1450,1460,1530

In [1826]:
df_gni.columns = [col[:4] for col in df_gni.columns]

In [1827]:
df_gni

,name,iso3,1990,2000,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,AFG,..,..,650,680,650,610,570,540,520,530,500,390
1,Albania,ALB,650,1100,4360,4540,4540,4390,4320,4290,4860,5230,5260,6110
2,Algeria,DZA,2390,1610,5220,5540,5510,4880,4400,3970,4010,4050,3600,3660
3,American Samoa,ASM,..,..,..,..,..,..,..,..,..,..,..,..
4,Andorra,AND,..,..,..,..,..,..,..,..,..,46530,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Virgin Islands (U.S.),VIR,..,..,..,..,..,..,..,..,..,..,..,..
213,West Bank and Gaza,PSE,..,1550,3210,3470,3560,3670,3900,3930,4190,4270,3700,4220
214,"Yemen, Rep.",YEM,..,400,1180,1340,1360,1110,1070,1000,840,..,..,..
215,Zambia,ZMB,450,350,1660,1720,1760,1540,1340,1270,1400,1390,1130,1030
216,Zimbabwe,ZWE,740,360,1120,1200,1210,1220,1200,1170,1550,1450,1460,1530

In [1828]:
for col in df_gni.columns[2:]:
    df_gni[col] = pd.to_numeric(df_gni[col], errors='coerce')

In [1829]:
df_gni

,name,iso3,1990,2000,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,AFG,NaN,NaN,650.0,680.0,650.0,610.0,570.0,540.0,520.0,530.0,500.0,390.0
1,Albania,ALB,650.0,1100.0,4360.0,4540.0,4540.0,4390.0,4320.0,4290.0,4860.0,5230.0,5260.0,6110.0
2,Algeria,DZA,2390.0,1610.0,5220.0,5540.0,5510.0,4880.0,4400.0,3970.0,4010.0,4050.0,3600.0,3660.0
3,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46530.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Virgin Islands (U.S.),VIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,West Bank and Gaza,PSE,NaN,1550.0,3210.0,3470.0,3560.0,3670.0,3900.0,3930.0,4190.0,4270.0,3700.0,4220.0
214,"Yemen, Rep.",YEM,NaN,400.0,1180.0,1340.0,1360.0,1110.0,1070.0,1000.0,840.0,NaN,NaN,NaN
215,Zambia,ZMB,450.0,350.0,1660.0,1720.0,1760.0,1540.0,1340.0,1270.0,1400.0,1390.0,1130.0,1030.0
216,Zimbabwe,ZWE,740.0,360.0,1120.0,1200.0,1210.0,1220.0,1200.0,1170.0,1550.0,1450.0,1460.0,1530.0

In [1830]:
df_gni.isnull().sum()

name     0
iso3     0
1990    74
2000    33
2012    23
2013    21
2014    20
2015    19
2016    20
2017    19
2018    19
2019    20
2020    25
2021    31
dtype: int64

In [1831]:
df_gni = pd.melt(df_gni, id_vars=['name', 'iso3'], value_name='gnipc', var_name='year')

In [1832]:
df_gni= df_gni.astype({'year' : 'int64', 'iso3' :'string'})

In [1833]:
df_gni

                       name iso3  year   gnipc
0               Afghanistan  AFG  1990     NaN
1                   Albania  ALB  1990   650.0
2                   Algeria  DZA  1990  2390.0
3            American Samoa  ASM  1990     NaN
4                   Andorra  AND  1990     NaN
...                     ...  ...   ...     ...
2599  Virgin Islands (U.S.)  VIR  2021     NaN
2600     West Bank and Gaza  PSE  2021  4220.0
2601            Yemen, Rep.  YEM  2021     NaN
2602                 Zambia  ZMB  2021  1030.0
2603               Zimbabwe  ZWE  2021  1530.0

[2604 rows x 4 columns]

In [1834]:
df_gni.dtypes

name      object
iso3      string
year       int64
gnipc    float64
dtype: object

df=pd.merge(df, df_gni, on=['iso3','year'], how='left')

In [1835]:
df.country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Bhutan', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Brazil', 'Brunei Darussalam',
       'Bulgaria', 'Burundi', 'Cabo Verde', 'Cameroon', 'Canada', 'Chile',
       'China Macao SAR', 'China, Hong Kong SAR', 'Colombia',
       'Costa Rica', 'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czechia',
       'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Estonia', 'Fiji', 'Finland', 'France', 'French Guiana', 'Georgia',
       'Germany', 'Greece', 'Grenada', 'Guadeloupe', 'Guatemala',
       'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Iran (Islamic Republic of)', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait',
       'Kyrgyzstan', 'Latvia', 'Lithuania', 'Luxembourg', 'Maldives',
       'Malta', 'Martinique', 'Mauritius', 'Mexico',
       'Micronesia (Federated States of)', 'Mongolia', 'Montenegro',
       'Morocco', 'Myanmar', 'Namibia', 'Netherlands', 'New Zealand',
       'Nicaragua', 'North Macedonia', 'Norway', 'Oman', 'Panama',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Republic of Korea', 'Republic of Moldova',
       'Réunion', 'Romania', 'Russian Federation', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Sao Tome and Principe',
       'Serbia', 'Seychelles', 'Singapore', 'Slovakia', 'Slovenia',
       'South Africa', 'Spain', 'Sri Lanka', 'State of Palestine',
       'Suriname', 'Sweden', 'Switzerland', 'Syrian Arab Republic',
       'Tajikistan', 'Thailand', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Republic of Tanzania', 'United States of America',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Zimbabwe'], dtype=object)

In [1836]:
df_gni['year'] = df_gni['year'].astype('int64')

In [1837]:
df.to_csv('undata.csv')

In [1838]:
df=pd.merge(df, df_gni, how='left', on=['iso3', 'year'])
df.country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Bhutan', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Brazil', 'Brunei Darussalam',
       'Bulgaria', 'Burundi', 'Cabo Verde', 'Cameroon', 'Canada', 'Chile',
       'China Macao SAR', 'China, Hong Kong SAR', 'Colombia',
       'Costa Rica', 'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czechia',
       'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Estonia', 'Fiji', 'Finland', 'France', 'French Guiana', 'Georgia',
       'Germany', 'Greece', 'Grenada', 'Guadeloupe', 'Guatemala',
       'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Iran (Islamic Republic of)', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait',
       'Kyrgyzstan', 'Latvia', 'Lithuania', 'Luxembourg', 'Maldives',
       'Malta', 'Martinique', 'Mauritius', 'Mexico',
       'Micronesia (Federated States of)', 'Mongolia', 'Montenegro',
       'Morocco', 'Myanmar', 'Namibia', 'Netherlands', 'New Zealand',
       'Nicaragua', 'North Macedonia', 'Norway', 'Oman', 'Panama',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Republic of Korea', 'Republic of Moldova',
       'Réunion', 'Romania', 'Russian Federation', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Sao Tome and Principe',
       'Serbia', 'Seychelles', 'Singapore', 'Slovakia', 'Slovenia',
       'South Africa', 'Spain', 'Sri Lanka', 'State of Palestine',
       'Suriname', 'Sweden', 'Switzerland', 'Syrian Arab Republic',
       'Tajikistan', 'Thailand', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Republic of Tanzania', 'United States of America',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Zimbabwe'], dtype=object)

In [1839]:
df.to_csv('finished.csv')