In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv('test.csv')
df = df[['iso3', 'year', 'country', 'femicide_rate', 'gnipc']]
df = df[(df['country'] == 'France') | (df['country'] == 'Spain')]
df.groupby('year').mean()

/tmp/ipykernel_7395/713288620.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('year').mean()

            femicide_rate    gnipc
year
2001-01-01       0.634086  15540.0
2002-01-01       0.634640  15630.0
2003-01-01       0.796220  18080.0
2004-01-01       0.859426  22130.0
2005-01-01       0.583066  25910.0
2006-01-01       0.708923  27850.0
2007-01-01       0.730094  29770.0
2008-01-01       0.546917  32250.0
2009-01-01       0.581531  32560.0
2010-01-01       0.662122  31970.0
2011-01-01       0.540969  31020.0
2012-01-01       0.527315  29540.0
2013-01-01       0.511350  29230.0
2014-01-01       0.541931  29160.0
2015-01-01       0.835719  34795.0
2016-01-01       0.665579  33335.0
2017-01-01       0.626053  32720.0
2018-01-01       0.581208  35250.0
2019-01-01       0.654570  36410.0
2020-01-01       0.537623  33285.0
2021-01-01       0.542258  36925.0

In [3]:
X, y = df['gnipc'].values, df['femicide_rate'].values

In [4]:
X = X.reshape(7, 1)
y = y.reshape(7, 1)

In [5]:
model = LinearRegression()
model.fit(X, y)

attr = pd.Series([model.coef_, model.intercept_], index=['coefficent', 'intercept']).reset_index()
attr

        index                            0
0  coefficent  [[-3.0705123147537234e-06]]
1   intercept         [0.9127287380359705]

In [6]:
attr.iloc[0]

index                     coefficent
0        [[-3.0705123147537234e-06]]
Name: 0, dtype: object

In [7]:
r.intercept_

NameError: name 'r' is not defined