In [4]:
import pandas as pd
import pymongo
import json

In [11]:
def get_data():
    
    with open("local/pass.json") as file:
        file = json.loads(file.read())
        connection_string = file.get('connection_string')
        client = pymongo.MongoClient(
            connection_string)
        db = client["femicide"]
        df = pd.DataFrame(db['master'].find())
        
    return df

In [12]:
df = get_data()

In [13]:
df

,_id,iso3,year,continent,region,country,fem_pop,femicide_count,femicide_rate,suicide_rate,gnipc,gini,mat_deaths
0,64e63d775dccd33054f4ef92,ABW,1990-01-01,America,Caribbean,Aruba,33480.0,0.0,0.000000,NaN,11570.0,NaN,NaN
1,64e63d775dccd33054f4ef93,ABW,1991-01-01,America,Caribbean,Aruba,34657.0,NaN,NaN,NaN,12560.0,NaN,NaN
2,64e63d775dccd33054f4ef94,ABW,1992-01-01,America,Caribbean,Aruba,35941.0,NaN,NaN,NaN,13610.0,NaN,NaN
3,64e63d775dccd33054f4ef95,ABW,1993-01-01,America,Caribbean,Aruba,37137.0,NaN,NaN,NaN,14640.0,NaN,NaN
4,64e63d775dccd33054f4ef96,ABW,1994-01-01,America,Caribbean,Aruba,38437.0,NaN,NaN,NaN,16060.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7175,64e63d775dccd33054f50b99,ZWE,2018-01-01,Africa,Eastern Africa,Zimbabwe,7966181.0,163.0,2.046150,8.7,1550.0,NaN,1700.0
7176,64e63d775dccd33054f50b9a,ZWE,2019-01-01,Africa,Eastern Africa,Zimbabwe,8122618.0,167.0,2.055987,8.8,1450.0,50.3,1900.0
7177,64e63d775dccd33054f50b9b,ZWE,2020-01-01,Africa,Eastern Africa,Zimbabwe,8284447.0,146.0,1.762339,NaN,1460.0,NaN,1700.0
7178,64e63d775dccd33054f50b9c,ZWE,2021-01-01,Africa,Eastern Africa,Zimbabwe,8449834.0,158.0,1.869859,NaN,1530.0,NaN,NaN
7179,64e63d775dccd33054f50b9d,ZWE,2022-01-01,Africa,Eastern Africa,Zimbabwe,8614935.0,NaN,NaN,NaN,1500.0,NaN,NaN