In [39]:
import pandas as pd
import wbgapi as wb

In [40]:
df_raw = wb.data.DataFrame(['NY.GNP.PCAP.CD','SI.POV.GINI','VC.IHR.PSRC.FE.P5'], time=range(1990,2023), labels=True, skipBlanks =True, columns='series', skipAggs=True)

In [41]:
df = df_raw.copy()

In [42]:
df = df.reset_index()

In [43]:
df = df.rename(columns={'economy':'iso3',
                        'Time':'year',
                        'VC.IHR.PSRC.FE.P5':'femicide_per_100k',
                        'NY.GNP.PCAP.CD' : 'ginpc',
                        'SI.POV.GINI' : 'gini',
                        'Country':'country'})

In [44]:
df['year'] = pd.to_datetime(df['year'], format='%Y')

df = df.drop(columns='time')

df = df.set_index(['iso3', 'year'])

In [45]:
df

                  country   ginpc  gini  femicide_per_100k
iso3 year
ZWE  2021-01-01  Zimbabwe  1530.0   NaN                NaN
     2020-01-01  Zimbabwe  1460.0   NaN                NaN
     2019-01-01  Zimbabwe  1450.0  50.3                NaN
     2018-01-01  Zimbabwe  1550.0   NaN                NaN
     2017-01-01  Zimbabwe  1170.0  44.3                NaN
...                   ...     ...   ...                ...
AND  2011-01-01   Andorra     NaN   NaN           0.000000
     2010-01-01   Andorra     NaN   NaN           0.000000
     2009-01-01   Andorra     NaN   NaN           0.000000
     2008-01-01   Andorra     NaN   NaN           2.431462
     2007-01-01   Andorra     NaN   NaN           0.000000

[6039 rows x 4 columns]

In [46]:
df.isna().sum()

country                 0
ginpc                 174
gini                 4303
femicide_per_100k    3718
dtype: int64

In [47]:
df.country.nunique()

210