In [1]:
import pandas as pd
import wbgapi as wb

In [4]:
df_raw = wb.data.DataFrame('VC.IHR.PSRC.FE.P5', time=range(1990,2023), labels=True, skipBlanks =True, columns='series', skipAggs=True)

In [5]:
df_raw

                           Country  Time  VC.IHR.PSRC.FE.P5
economy time
ZWE     YR1990            Zimbabwe  1990           3.491390
PSE     YR2020  West Bank and Gaza  2020           0.556783
        YR2019  West Bank and Gaza  2019           0.285124
        YR2018  West Bank and Gaza  2018           0.125190
        YR2017  West Bank and Gaza  2017           0.213772
...                            ...   ...                ...
AFG     YR2019         Afghanistan  2019           1.285650
        YR2018         Afghanistan  2018           0.846291
        YR2017         Afghanistan  2017           0.753792
        YR2016         Afghanistan  2016           0.587345
        YR2015         Afghanistan  2015           0.555973

[2321 rows x 3 columns]

In [ ]:
df = df_raw.groupby('country')[