# Dataset Creation

In [1022]:
import pandas as pd
import numpy as np
import requests
import io
import wbgapi as wb
from bs4 import BeautifulSoup
import cache_magic #pip install ipython_cache

# Femicide Data

### Femicide data is downloaded from github and loaded as df_fem

In [1023]:
url = 'https://raw.githubusercontent.com/Tom-Whittington/Femicide_analysis/main/processed_data/original_femicide_data.csv'

In [1024]:
%cache download = requests.get(url).content

loading cached value for variable 'download'. Time since pickling  146 days, 18:58:08.669456

In [1025]:
df_fem = pd.read_csv(io.StringIO(download.decode('utf-8')),
                dtype={'iso3_code' : 'category',
                           'Region' : 'category',
                           'Subregion' : 'category',
                           'country' : 'category',
                           'Indicator' : 'category',
                           'Disaggregation' : 'category',
                           'Gender' : 'category',
                           'Source' : 'category',
                           'Unit' : 'category',
                          'Year' : 'string'})

In [1026]:
df_fem

,Region,Subregion,country,iso3_code,Indicator,Disaggregation,Gender,Source,Unit,Year,Value,Footnote
0,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,Count,2009,1115,NaN
1,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,"Rate per 100,000 population",2009,3.93,NaN
2,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,Count,2010,983,NaN
3,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,"Rate per 100,000 population",2010,3.37,NaN
4,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,Count,2011,1231,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
24387,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,"Rate per 100,000 population",2006,8.82,NaN
24388,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,Count,2010,711,NaN
24389,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,"Rate per 100,000 population",2010,5.6,NaN
24390,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,Count,2012,981,NaN
24391,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,"Rate per 100,000 population",2012,7.48,NaN

In [1027]:
df_fem.dtypes

Region            category
Subregion         category
country           category
iso3_code         category
Indicator         category
Disaggregation    category
Gender            category
Source            category
Unit              category
Year                string
Value               object
Footnote            object
dtype: object

### Columns are renamed

In [1028]:
df_fem.columns = [col.lower() for col in df_fem.columns]
df_fem = df_fem.rename(columns={'iso3_code' : 'iso3'})
df_fem['year'] = pd.to_datetime(df_fem['year'], format='%Y')
df_fem

,region,subregion,country,iso3,indicator,disaggregation,gender,source,unit,year,value,footnote
0,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,Count,2009-01-01,1115,NaN
1,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,"Rate per 100,000 population",2009-01-01,3.93,NaN
2,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,Count,2010-01-01,983,NaN
3,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,"Rate per 100,000 population",2010-01-01,3.37,NaN
4,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,Count,2011-01-01,1231,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
24387,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,"Rate per 100,000 population",2006-01-01,8.82,NaN
24388,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,Count,2010-01-01,711,NaN
24389,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,"Rate per 100,000 population",2010-01-01,5.6,NaN
24390,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,Count,2012-01-01,981,NaN
24391,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,"Rate per 100,000 population",2012-01-01,7.48,NaN

In [1029]:
df_fem

,region,subregion,country,iso3,indicator,disaggregation,gender,source,unit,year,value,footnote
0,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,Count,2009-01-01,1115,NaN
1,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,"Rate per 100,000 population",2009-01-01,3.93,NaN
2,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,Count,2010-01-01,983,NaN
3,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,"Rate per 100,000 population",2010-01-01,3.37,NaN
4,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Total (all ages),NSO,Count,2011-01-01,1231,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
24387,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,"Rate per 100,000 population",2006-01-01,8.82,NaN
24388,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,Count,2010-01-01,711,NaN
24389,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,"Rate per 100,000 population",2010-01-01,5.6,NaN
24390,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,Count,2012-01-01,981,NaN
24391,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Total (all ages),WHO,"Rate per 100,000 population",2012-01-01,7.48,NaN

### Filters out totals and only keeps male and female data

In [1030]:
df_fem = df_fem.loc[df_fem['gender'] == 'Female']
df_fem

,region,subregion,country,iso3,indicator,disaggregation,gender,source,unit,year,value,footnote
8,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Female,NSO,Count,2015-01-01,93,NaN
9,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Female,NSO,"Rate per 100,000 population",2015-01-01,0.56,NaN
14,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Female,NSO,Count,2016-01-01,101,NaN
15,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Female,NSO,"Rate per 100,000 population",2016-01-01,0.59,NaN
20,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Female,NSO,Count,2017-01-01,133,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
24285,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),VEN,Homicide: # of victims,-,Female,CTS,"Rate per 100,000 population",2016-01-01,5.36,NaN
24290,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),VEN,Homicide: # of victims,-,Female,CTS,Count,2017-01-01,788,NaN
24291,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),VEN,Homicide: # of victims,-,Female,CTS,"Rate per 100,000 population",2017-01-01,5.31,NaN
24372,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Female,MD,Count,1990-01-01,183,NaN
24373,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Female,MD,"Rate per 100,000 population",1990-01-01,3.49,NaN

### Removes killed by intimate partner disaggregation

In [1031]:
#df_fem = df_fem[df_fem['disaggregation'] == '-']
df_fem

,region,subregion,country,iso3,indicator,disaggregation,gender,source,unit,year,value,footnote
8,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Female,NSO,Count,2015-01-01,93,NaN
9,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Female,NSO,"Rate per 100,000 population",2015-01-01,0.56,NaN
14,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Female,NSO,Count,2016-01-01,101,NaN
15,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Female,NSO,"Rate per 100,000 population",2016-01-01,0.59,NaN
20,Asia,Southern Asia,Afghanistan,AFG,Homicide: # of victims,-,Female,NSO,Count,2017-01-01,133,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
24285,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),VEN,Homicide: # of victims,-,Female,CTS,"Rate per 100,000 population",2016-01-01,5.36,NaN
24290,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),VEN,Homicide: # of victims,-,Female,CTS,Count,2017-01-01,788,NaN
24291,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),VEN,Homicide: # of victims,-,Female,CTS,"Rate per 100,000 population",2017-01-01,5.31,NaN
24372,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Female,MD,Count,1990-01-01,183,NaN
24373,Africa,Sub-Saharan Africa,Zimbabwe,ZWE,Homicide: # of victims,-,Female,MD,"Rate per 100,000 population",1990-01-01,3.49,NaN

### Filters out counts and leaves only count, sorts values and converts value column to numeric

In [1032]:
df_fem = df_fem[df_fem['unit'] != 'Rate per  100,000 population']
df_fem = df_fem.sort_values(['year', 'gender', 'iso3'])
df_fem['value'] = pd.to_numeric(df_fem['value'], errors='coerce')
df_fem

,region,subregion,country,iso3,indicator,disaggregation,gender,source,unit,year,value,footnote
1192,Americas,Latin America and the Caribbean,Aruba,ABW,Homicide: # of victims,-,Female,MD,Count,1990-01-01,0.0,NaN
898,Asia,Western Asia,Armenia,ARM,Homicide: # of victims,-,Female,UNECE,Count,1990-01-01,22.0,NaN
674,Americas,Latin America and the Caribbean,Antigua and Barbuda,ATG,Homicide: # of victims,-,Female,MD,Count,1990-01-01,1.0,NaN
1294,Oceania,Australia and New Zealand,Australia,AUS,Homicide: # of victims,-,Female,MD,Count,1990-01-01,138.0,NaN
1560,Europe,Western Europe,Austria,AUT,Homicide: # of victims,-,Female,MD,Count,1990-01-01,39.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
22436,Asia,Central Asia,Tajikistan,TJK,Homicide: # of victims - perpetrator IPFM,Killed by Intimate partner or family member (I...,Female,CTS,Count,2020-01-01,4.0,IPFM - Intimate partner or family member
22846,Africa,Northern Africa,Tunisia,TUN,Homicide: # of victims,-,Female,External,Count,2020-01-01,115.0,NaN
23730,Americas,Northern America,United States of America,USA,Homicide: # of victims - perpetrator IPFM,Killed by Intimate partner or family member (I...,Female,FBI,Count,2020-01-01,1420.0,IPFM - Intimate partner or family member
24138,Oceania,Melanesia,Vanuatu,VUT,Homicide: # of victims,-,Female,External,Count,2020-01-01,1.0,NaN
24144,Oceania,Melanesia,Vanuatu,VUT,Homicide: # of victims - perpetrator IPFM,Killed by Intimate partner or family member (I...,Female,External,Count,2020-01-01,1.0,IPFM - Intimate partner or family member

# Economic data

## Worldbank data import

### Economic data is imported from worldbank API
1. NY.GNP.PCAP.CD represents gross national income per capita

2. SI.POV.GINI represents the gini coefficient of each country

3. Years 2000-2023 are selected

4. Labels also returns country code

5. skipBlanks is turned off so we have a row for each year (easier merging)

6. each series is added to column

7. skipAggs returns only countries and not regions/aggregations

8. Result is cached as can be slow to return

In [1033]:
%cache df_wb = wb.data.DataFrame(['NY.GNP.PCAP.CD','SI.POV.GINI', 'SP.POP.TOTL.FE.IN', 'SH.STA.SUIC.FE.P5', 'SH.MMR.DTHS', 'VC.IHR.PSRC.FE.P5'], time=range(1990,2023), labels=True, skipBlanks =False, columns='series', skipAggs=True)

loading cached value for variable 'df_wb'. Time since pickling  0:26:41.057297

### Index is reset, columns renamed and converted to datetime format. Extra time column is dropped and index is set to country code and year

In [1034]:
df_wb = df_wb.reset_index()

df_wb = df_wb.rename(columns={'economy':'iso3',
                        'Time':'year',
                        'NY.GNP.PCAP.CD':'gnipc',
                        'SI.POV.GINI':'gini',
                        'Country':'country',
                        'SP.POP.TOTL.FE.IN' : 'fem_pop',
                        'SH.STA.SUIC.FE.P5' : 'suicide_rate',
                        'SH.MMR.DTHS' : 'mat_deaths',
                        'VC.IHR.PSRC.FE.P5' : 'femicide_rate'})

df_wb['year'] = pd.to_datetime(df_wb['year'], format='%Y')

df_wb['gnipc'] = pd.to_numeric(df_wb['gnipc'], errors='coerce')
df_wb['gini'] = pd.to_numeric(df_wb['gini'], errors='coerce')

df_wb = df_wb.drop(columns='time')

df_wb = df_wb.set_index(['iso3', 'year'])
df_wb

                     country   gnipc  mat_deaths  suicide_rate  gini  \
iso3 year
ZWE  2022-01-01     Zimbabwe  1500.0         NaN           NaN   NaN
     2021-01-01     Zimbabwe  1530.0         NaN           NaN   NaN
     2020-01-01     Zimbabwe  1460.0      1700.0           NaN   NaN
     2019-01-01     Zimbabwe  1450.0      1900.0           8.8  50.3
     2018-01-01     Zimbabwe  1550.0      1700.0           8.7   NaN
...                      ...     ...         ...           ...   ...
AFG  1994-01-01  Afghanistan     NaN         NaN           NaN   NaN
     1993-01-01  Afghanistan     NaN         NaN           NaN   NaN
     1992-01-01  Afghanistan     NaN         NaN           NaN   NaN
     1991-01-01  Afghanistan     NaN         NaN           NaN   NaN
     1990-01-01  Afghanistan     NaN         NaN           NaN   NaN

                   fem_pop  femicide_rate
iso3 year
ZWE  2022-01-01  8614935.0            NaN
     2021-01-01  8449834.0       1.869859
     2020-01-01  8284447.0       1.762339
     2019-01-01  8122618.0       2.055987
     2018-01-01  7966181.0       2.046150
...                    ...            ...
AFG  1994-01-01  7722096.0            NaN
     1993-01-01  7000119.0            NaN
     1992-01-01  6028939.0            NaN
     1991-01-01  5372208.0            NaN
     1990-01-01  5346409.0            NaN

[7161 rows x 7 columns]

In [1035]:
df_wb['fem_pop'] = df_wb['fem_pop'].astype('int64')

In [1036]:
df_wb.isna().sum()

country             0
gnipc            1108
mat_deaths       3276
suicide_rate     3501
gini             5353
fem_pop             0
femicide_rate    4622
dtype: int64

In [1037]:
df_wb

                     country   gnipc  mat_deaths  suicide_rate  gini  fem_pop  \
iso3 year
ZWE  2022-01-01     Zimbabwe  1500.0         NaN           NaN   NaN  8614935
     2021-01-01     Zimbabwe  1530.0         NaN           NaN   NaN  8449834
     2020-01-01     Zimbabwe  1460.0      1700.0           NaN   NaN  8284447
     2019-01-01     Zimbabwe  1450.0      1900.0           8.8  50.3  8122618
     2018-01-01     Zimbabwe  1550.0      1700.0           8.7   NaN  7966181
...                      ...     ...         ...           ...   ...      ...
AFG  1994-01-01  Afghanistan     NaN         NaN           NaN   NaN  7722096
     1993-01-01  Afghanistan     NaN         NaN           NaN   NaN  7000119
     1992-01-01  Afghanistan     NaN         NaN           NaN   NaN  6028939
     1991-01-01  Afghanistan     NaN         NaN           NaN   NaN  5372208
     1990-01-01  Afghanistan     NaN         NaN           NaN   NaN  5346409

                 femicide_rate
iso3 year
ZWE  2022-01-01            NaN
     2021-01-01       1.869859
     2020-01-01       1.762339
     2019-01-01       2.055987
     2018-01-01       2.046150
...                        ...
AFG  1994-01-01            NaN
     1993-01-01            NaN
     1992-01-01            NaN
     1991-01-01            NaN
     1990-01-01            NaN

[7161 rows x 7 columns]

In [1038]:
df_wb['suicide_count'] =round((df_wb['suicide_rate'] / 100000) * df_wb['fem_pop'], 0)
df_wb['femicide_count'] = round((df_wb['femicide_rate'] / 100000) * df_wb['fem_pop'], 0)
df_wb['source'] = 'WB'

In [1039]:
df_wb

                     country   gnipc  mat_deaths  suicide_rate  gini  fem_pop  \
iso3 year
ZWE  2022-01-01     Zimbabwe  1500.0         NaN           NaN   NaN  8614935
     2021-01-01     Zimbabwe  1530.0         NaN           NaN   NaN  8449834
     2020-01-01     Zimbabwe  1460.0      1700.0           NaN   NaN  8284447
     2019-01-01     Zimbabwe  1450.0      1900.0           8.8  50.3  8122618
     2018-01-01     Zimbabwe  1550.0      1700.0           8.7   NaN  7966181
...                      ...     ...         ...           ...   ...      ...
AFG  1994-01-01  Afghanistan     NaN         NaN           NaN   NaN  7722096
     1993-01-01  Afghanistan     NaN         NaN           NaN   NaN  7000119
     1992-01-01  Afghanistan     NaN         NaN           NaN   NaN  6028939
     1991-01-01  Afghanistan     NaN         NaN           NaN   NaN  5372208
     1990-01-01  Afghanistan     NaN         NaN           NaN   NaN  5346409

                 femicide_rate  suicide_count  femicide_count source
iso3 year
ZWE  2022-01-01            NaN            NaN             NaN     WB
     2021-01-01       1.869859            NaN           158.0     WB
     2020-01-01       1.762339            NaN           146.0     WB
     2019-01-01       2.055987          715.0           167.0     WB
     2018-01-01       2.046150          693.0           163.0     WB
...                        ...            ...             ...    ...
AFG  1994-01-01            NaN            NaN             NaN     WB
     1993-01-01            NaN            NaN             NaN     WB
     1992-01-01            NaN            NaN             NaN     WB
     1991-01-01            NaN            NaN             NaN     WB
     1990-01-01            NaN            NaN             NaN     WB

[7161 rows x 10 columns]

In [1040]:
df_wb[df_wb['country'] == 'Spain']

                country    gnipc  mat_deaths  suicide_rate  gini   fem_pop  \
iso3 year
ESP  2022-01-01   Spain  31680.0         NaN           NaN   NaN  24278328
     2021-01-01   Spain  29690.0         NaN           NaN   NaN  24178913
     2020-01-01   Spain  27130.0        12.0           NaN  34.9  24152012
     2019-01-01   Spain  30360.0        11.0           4.2  34.3  24030201
     2018-01-01   Spain  29330.0        15.0           4.1  34.7  23851736
     2017-01-01   Spain  27120.0        15.0           4.3  34.7  23734338
     2016-01-01   Spain  27570.0        16.0           4.1  35.8  23662382
     2015-01-01   Spain  28460.0        16.0           4.1  36.2  23626850
     2014-01-01   Spain  29160.0        17.0           4.3  36.1  23627558
     2013-01-01   Spain  29230.0        18.0           4.2  36.2  23671269
     2012-01-01   Spain  29540.0        19.0           3.6  35.4  23713604
     2011-01-01   Spain  31020.0        19.0           3.4  35.7  23668076
     2010-01-01   Spain  31970.0        19.0           3.1  35.2  23562691
     2009-01-01   Spain  32560.0        20.0           3.5  34.9  23435819
     2008-01-01   Spain  32250.0        21.0           3.6  34.2  23224481
     2007-01-01   Spain  29770.0        20.0           3.7  34.1  22879460
     2006-01-01   Spain  27850.0        20.0           3.5  33.5  22487488
     2005-01-01   Spain  25910.0        21.0           4.0  32.4  22136732
     2004-01-01   Spain  22130.0        20.0           4.2  33.3  21804175
     2003-01-01   Spain  18080.0        22.0           4.1  31.8  21467183
     2002-01-01   Spain  15630.0        20.0           4.1   NaN  21116299
     2001-01-01   Spain  15540.0        20.0           3.9   NaN  20839665
     2000-01-01   Spain  15790.0        20.0           4.2  34.3  20696897
     1999-01-01   Spain  15480.0         NaN           NaN   NaN  20606430
     1998-01-01   Spain  15440.0         NaN           NaN   NaN  20524534
     1997-01-01   Spain  15820.0         NaN           NaN   NaN  20441310
     1996-01-01   Spain  15560.0         NaN           NaN   NaN  20356531
     1995-01-01   Spain  14830.0         NaN           NaN  36.7  20272334
     1994-01-01   Spain  14470.0         NaN           NaN   NaN  20184093
     1993-01-01   Spain  15010.0         NaN           NaN   NaN  20090193
     1992-01-01   Spain  15610.0         NaN           NaN   NaN  19988269
     1991-01-01   Spain  13700.0         NaN           NaN   NaN  19891586
     1990-01-01   Spain  12210.0         NaN           NaN  32.0  19835238

                 femicide_rate  suicide_count  femicide_count source
iso3 year
ESP  2022-01-01            NaN            NaN             NaN     WB
     2021-01-01       0.400575            NaN            97.0     WB
     2020-01-01       0.492732            NaN           119.0     WB
     2019-01-01       0.524379         1009.0           126.0     WB
     2018-01-01       0.490590          978.0           117.0     WB
     2017-01-01       0.476196         1021.0           113.0     WB
     2016-01-01       0.477662          970.0           113.0     WB
     2015-01-01       0.512278          969.0           121.0     WB
     2014-01-01       0.541931         1016.0           128.0     WB
     2013-01-01       0.511350          994.0           121.0     WB
     2012-01-01       0.527315          854.0           125.0     WB
     2011-01-01       0.540969          805.0           128.0     WB
     2010-01-01       0.662122          730.0           156.0     WB
     2009-01-01       0.581531          820.0           136.0     WB
     2008-01-01       0.546917          836.0           127.0     WB
     2007-01-01       0.730094          847.0           167.0     WB
     2006-01-01       0.708923          787.0           159.0     WB
     2005-01-01       0.583066          885.0           129.0     WB
     2004-01-01       0.859426          916.0           187.0     WB
     2003-01-01       0.796220          880.0           171.0     WB
     2002-01-01       0.634640          866.0           134.0     WB
     2001-01-01       0.634086          813.0           132.0     WB
     2000-01-01            NaN          869.0             NaN     WB
     1999-01-01            NaN            NaN             NaN     WB
     1998-01-01            NaN            NaN             NaN     WB
     1997-01-01            NaN            NaN             NaN     WB
     1996-01-01            NaN            NaN             NaN     WB
     1995-01-01            NaN            NaN             NaN     WB
     1994-01-01            NaN            NaN             NaN     WB
     1993-01-01            NaN            NaN             NaN     WB
     1992-01-01            NaN            NaN             NaN     WB
     1991-01-01            NaN            NaN             NaN     WB
     1990-01-01            NaN            NaN             NaN     WB

## CIA data

### Gets webpage from url

In [1041]:
url = 'https://www.cia.gov/the-world-factbook/field/gini-index-coefficient-distribution-of-family-income/country-comparison'

%cache r = requests.get(url)

soup = BeautifulSoup(r.text, 'lxml')

loading cached value for variable 'r'. Time since pickling  146 days, 18:57:45.545204

### Finds first table on page, extracts headers from first row and then loops over table and creates dataframe from values

In [1042]:
table = soup.findAll('table')[0]

headers = [x.text for x in table.findChildren('th')[1:]]

row_list = headers
table_list = []
for row in table.findChildren('tr'):

    for cell in row.findChildren('td')[1:]:
        row_list.append(cell.text)
    table_list.append(row_list)
    row_list = []

df_cia = pd.DataFrame(table_list)

### Adds gini label to first row and then promotes first row to headers

In [1043]:
df_cia.iloc[0,1]='gini'

df_cia.columns= df_cia.iloc[0,:]

df_cia = df_cia[1:]

df_cia

0                     Country  gini Date of Information
1                South Africa  63.0           2014 est.
2                     Namibia  59.1           2015 est.
3                      Zambia  57.1           2015 est.
4    Central African Republic  56.2           2008 est.
5                    Eswatini  54.6           2016 est.
..                        ...   ...                 ...
173                  Slovakia  25.2           2016 est.
174                   Belarus  24.4           2020 est.
175                  Slovenia  24.2           2017 est.
176             Faroe Islands  22.7           2013 est.
177                    Jersey   0.3           2014 est.

[177 rows x 3 columns]

### iso3 codes are generated for CIA data set by the worldbank api, Nas are dropped, year and iso3 set as index ready for filling in blanks

In [1044]:
df_cia['iso3'] = wb.economy.coder(df_cia['Country'])
df_cia = df_cia.dropna(subset='iso3')
df_cia['year'] =df_cia['Date of Information'].str[:4]
df_cia = df_cia[['iso3', 'year', 'Country', 'gini']]
df_cia['year'] = pd.to_datetime(df_cia['year'], format='%Y')
df_cia = df_cia.set_index(['iso3', 'year'])
df_cia

/tmp/ipykernel_10686/25053258.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cia['year'] =df_cia['Date of Information'].str[:4]

0                                 Country  gini
iso3 year
ZAF  2014-01-01              South Africa  63.0
NAM  2015-01-01                   Namibia  59.1
ZMB  2015-01-01                    Zambia  57.1
CAF  2008-01-01  Central African Republic  56.2
SWZ  2016-01-01                  Eswatini  54.6
...                                   ...   ...
ARM  2020-01-01                   Armenia  25.2
SVK  2016-01-01                  Slovakia  25.2
BLR  2020-01-01                   Belarus  24.4
SVN  2017-01-01                  Slovenia  24.2
FRO  2013-01-01             Faroe Islands  22.7

[173 rows x 2 columns]

In [1045]:
df_wb.isna().sum()

country              0
gnipc             1108
mat_deaths        3276
suicide_rate      3501
gini              5353
fem_pop              0
femicide_rate     4622
suicide_count     3501
femicide_count    4622
source               0
dtype: int64

### Fills in any empty cells in wb dataset with values from cia dataset ~17 extra countries. gini column set back to float

In [1046]:
df_eco = df_wb.copy()

df_eco['gini'] = df_eco['gini'].fillna(df_cia['gini'])

df_eco = df_eco.sort_index()

df_eco['gini'] =df_eco['gini'].astype('float64')

df_eco

                  country    gnipc  mat_deaths  suicide_rate  gini  fem_pop  \
iso3 year
ABW  1990-01-01     Aruba  11570.0         NaN           NaN   NaN    33480
     1991-01-01     Aruba  12560.0         NaN           NaN   NaN    34657
     1992-01-01     Aruba  13610.0         NaN           NaN   NaN    35941
     1993-01-01     Aruba  14640.0         NaN           NaN   NaN    37137
     1994-01-01     Aruba  16060.0         NaN           NaN   NaN    38437
...                   ...      ...         ...           ...   ...      ...
ZWE  2018-01-01  Zimbabwe   1550.0      1700.0           8.7   NaN  7966181
     2019-01-01  Zimbabwe   1450.0      1900.0           8.8  50.3  8122618
     2020-01-01  Zimbabwe   1460.0      1700.0           NaN   NaN  8284447
     2021-01-01  Zimbabwe   1530.0         NaN           NaN   NaN  8449834
     2022-01-01  Zimbabwe   1500.0         NaN           NaN   NaN  8614935

                 femicide_rate  suicide_count  femicide_count source
iso3 year
ABW  1990-01-01       0.000000            NaN             0.0     WB
     1991-01-01            NaN            NaN             NaN     WB
     1992-01-01            NaN            NaN             NaN     WB
     1993-01-01            NaN            NaN             NaN     WB
     1994-01-01            NaN            NaN             NaN     WB
...                        ...            ...             ...    ...
ZWE  2018-01-01       2.046150          693.0           163.0     WB
     2019-01-01       2.055987          715.0           167.0     WB
     2020-01-01       1.762339            NaN           146.0     WB
     2021-01-01       1.869859            NaN           158.0     WB
     2022-01-01            NaN            NaN             NaN     WB

[7161 rows x 10 columns]

# Merging

### The dichotamised economic dataframe is merged with the femicide dataframe on the shared iso3 index

In [1047]:
df_fem = df_fem.set_index(['iso3', 'year'])

In [1048]:
df_fem.index.dtypes

iso3          category
year    datetime64[ns]
dtype: object

In [1049]:
df = df_fem.merge(df_eco, how='left', left_index=True, right_index=True).rename(columns={'country_x' : 'country'}).drop(columns=['country_y'])
df = df.sort_index()
df

                   region                        subregion       country  \
iso3 year
ABW  1990-01-01  Americas  Latin America and the Caribbean         Aruba
     1995-01-01  Americas  Latin America and the Caribbean         Aruba
     1999-01-01  Americas  Latin America and the Caribbean         Aruba
     2001-01-01  Americas  Latin America and the Caribbean         Aruba
     2002-01-01  Americas  Latin America and the Caribbean         Aruba
...                   ...                              ...           ...
ZAF  2011-01-01    Africa               Sub-Saharan Africa  South Africa
     2016-01-01    Africa               Sub-Saharan Africa  South Africa
     2017-01-01    Africa               Sub-Saharan Africa  South Africa
     2018-01-01    Africa               Sub-Saharan Africa  South Africa
ZWE  1990-01-01    Africa               Sub-Saharan Africa      Zimbabwe

                              indicator disaggregation  gender source_x  \
iso3 year
ABW  1990-01-01  Homicide: # of victims              -  Female       MD
     1995-01-01  Homicide: # of victims              -  Female       MD
     1999-01-01  Homicide: # of victims              -  Female       MD
     2001-01-01  Homicide: # of victims              -  Female       MD
     2002-01-01  Homicide: # of victims              -  Female       MD
...                                 ...            ...     ...      ...
ZAF  2011-01-01  Homicide: # of victims              -  Female       NP
     2016-01-01  Homicide: # of victims              -  Female       NP
     2017-01-01  Homicide: # of victims              -  Female       NP
     2018-01-01  Homicide: # of victims              -  Female       NP
ZWE  1990-01-01  Homicide: # of victims              -  Female       MD

                  unit   value footnote    gnipc  mat_deaths  suicide_rate  \
iso3 year
ABW  1990-01-01  Count     0.0      NaN  11570.0         NaN           NaN
     1995-01-01  Count     0.0      NaN  16930.0         NaN           NaN
     1999-01-01  Count     1.0      NaN  18320.0         NaN           NaN
     2001-01-01  Count     2.0      NaN  20510.0         NaN           NaN
     2002-01-01  Count     1.0      NaN  19290.0         NaN           NaN
...                ...     ...      ...      ...         ...           ...
ZAF  2011-01-01  Count  2399.0      NaN   7700.0      2300.0          11.0
     2016-01-01  Count  2639.0      NaN   5960.0      1500.0          10.1
     2017-01-01  Count  2930.0      NaN   5950.0      1600.0          10.0
     2018-01-01  Count  2771.0      NaN   6390.0      1500.0           9.7
ZWE  1990-01-01  Count   183.0      NaN    740.0         NaN           NaN

                 gini     fem_pop  femicide_rate  suicide_count  \
iso3 year
ABW  1990-01-01   NaN     33480.0       0.000000            NaN
     1995-01-01   NaN     39724.0       0.000000            NaN
     1999-01-01   NaN     45050.0       2.219731            NaN
     2001-01-01   NaN     47178.0       4.239264            NaN
     2002-01-01   NaN     47831.0       2.090672            NaN
...               ...         ...            ...            ...
ZAF  2011-01-01   NaN  27164417.0       8.833302         2988.0
     2016-01-01   NaN  29004108.0       9.098711         2929.0
     2017-01-01   NaN  29175940.0      10.042521         2918.0
     2018-01-01   NaN  29517286.0       9.387719         2863.0
ZWE  1990-01-01   NaN   5247850.0       3.487142            NaN

                 femicide_count source_y
iso3 year
ABW  1990-01-01             0.0       WB
     1995-01-01             0.0       WB
     1999-01-01             1.0       WB
     2001-01-01             2.0       WB
     2002-01-01             1.0       WB
...                         ...      ...
ZAF  2011-01-01          2400.0       WB
     2016-01-01          2639.0       WB
     2017-01-01          2930.0       WB
     2018-01-01          2771.0       WB
ZWE  1990-01-01           183.0       WB

[3568 rows x 19 columns]